.padding-global {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.padding-global.padding-white {
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 1.00),hsla(0, 0.00%, 0.00%, 1.00));
}

@media screen and (max-width: 991px) {
  .padding-global.padding-white.tab {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .tab {
    font-size: 50px;
    line-height: 28px;
  }
}

.padding-global.black-bg {
  max-width: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 130px;
  background-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.padding-global.service-padding {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.padding-global.servicepad {
  min-height: 700px;
}

@media screen and (max-width: 767px) {
  .padding-global.servicepad {
    min-height: 2000px;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.servicepad.mob {
    min-height: 2300px;
  }
}

@media screen and (max-width: 479px) {
  .mob {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }
}

.padding-global.mob {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 479px) {
  .padding-global.mob-pad {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.mob-pad.mobland.mob.mobpad {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .padding-global.tab {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.mobland {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.mobland {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 991px) {
  .padding-global.mobland.mob {
    display: flex;
    flex-direction: column;
  }
}

.container-large {
  width: 100%;
}

.padding-section-large {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large {
    padding-bottom: 0rem;
  }
}

.padding-section-large.padding-section {
  padding-top: 15rem;
}

.padding-section-large.padding-section.mobscape {
  padding-right: 140px;
  padding-left: 140px;
}

@media screen and (max-width: 767px) {
  .padding-section-large.padding-section.mobscape {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .mobscape {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
  }
}

.padding-section-large.padding-section.mobscape.tab {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .padding-section-large.padding-section.mobscape.tab {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.padding-section-large.tablettoppad {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .padding-section-large.tablettoppad {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large.tablettoppad {
    padding-top: 0.25rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-large.mob {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
}

.services_2_services_component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-small {
  display: flex;
  margin: 0rem 0rem 60px;
  align-items: flex-end;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-small {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .margin-bottom.margin-small.bottommargin {
    margin-bottom: 0px;
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .margin-bottom.margin-small.tab-margin {
    margin-bottom: 20px;
  }
}

.margin-bottom.margin-small.mobscape {
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-small.mobscape {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-small.monscape {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-small.monscape {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-small.mob {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-small.scape {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .scape {
    font-size: 10px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .scape {
    color: hsla(0, 0.00%, 0.00%, 1.00);
    font-size: 10px;
  }
}

.margin-bottom.margin-xsmall {
  display: flex;
  margin: 0rem auto 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xsmall {
    font-family: 'Open Sans', sans-serif;
    line-height: 16px;
    font-weight: 600;
  }
}

.margin-bottom.margin-xsmall.location-margin {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 50px;
  display: block;
}

@media screen and (max-width: 991px) {
  .margin-bottom.margin-xsmall.location-margin {
    top: 57.125px;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  .margin-bottom.margin-xsmall.location-margin.dropdown-tab {
    margin-top: 0.5rem;
  }
}

.dropdown-tab {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-xsmall.location-margin.dropdown-tab.landscape {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .landscape {
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .landscape {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 991px) {
  .margin-bottom.margin-xsmall.location-margin.dropdown-tab.landscape.mob {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xsmall.location-margin.dropdown-tab.landscape.mob {
    margin-top: -4rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-xsmall.location-margin.dropdown-tab.landscape.mob.land {
    margin-top: 0.25rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xsmall.location-margin.dropdown-tab.landscape.mob.land {
    top: 8.125px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-xsmall.location-margin.landscape {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xsmall.location-margin.landscape.mob {
    margin-top: -4rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-xsmall.location-margin.landscape.mob.land {
    margin-top: 0.25rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xsmall.location-margin.landscape.mob.land {
    top: 8.125px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-xsmall.mobscape {
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xsmall.mob {
    margin-bottom: 0px;
  }
}

.margin-bottom.margin-medium {
  width: 100%;
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  text-align: right;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xxlarge {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .margin-bottom.margin-xxlarge.is-tablet-medium {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xxlarge.mob {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom.margin-xxlarge.mobscape {
    width: 100%;
  }
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.max-width-large {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .max-width-large {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.div-block-15 {
  margin-left: 258px;
}

@media screen and (max-width: 479px) {
  .div-block-15.mob-scspe {
    margin-left: 0px;
  }
}

.heading-29 {
  font-family: 'Open Sans', sans-serif;
  color: hsla(0, 0.00%, 100.00%, 0.00);
  font-size: 100px;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: hsla(0, 0.00%, 3.33%, 0.55);
}

@media screen and (max-width: 767px) {
  .heading-29.ombscape {
    font-size: 53px;
  }
}

@media screen and (max-width: 479px) {
  .heading-29.ombscape.mob {
    font-size: 35px;
  }
}

.div-block-16 {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-16.px {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .div-block-16.px {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.heading-30 {
  color: hsla(0, 0.00%, 0.00%, 1.00);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .heading-30.heading {
    font-size: 40px;
  }
}

.heading {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .heading-30.heading.mob {
    line-height: 35px;
  }
}

@media screen and (max-width: 479px) {
  .mob.paramob {
    font-size: 14px;
  }
}

.paragraph-14 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .paragraph-14.para {
    font-size: 13px;
    line-height: 16px;
  }
}

.form {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.text-field {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.collection-list-wrapper-2 {
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .collection-list-wrapper-2 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .div-block-25{
    width: 350px;
    margin: 20px;
  }
}
@media screen and (max-width: 710px) {
  .div-block-25{
    width: 300px;
    margin: 20px;
  }
}
@media screen and (max-width: 648px) {
  .div-block-25{
    width: 70%;
    display: flex;
    margin: auto;
  }
}

@media screen and (max-width: 479px) {
  .collection-list-wrapper-2 {
    width: 100%;
  }
}

.collection-list-3 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .collection-list-3.mob {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 0.92fr));
  }
}

.div-block-25 {
  position: relative;
  text-align: center;
}

.image-8 {
  position: relative;
}

@media screen and (max-width: 479px) {
  .image-8 {
    width: 100%;
  }
}

.div-block-27 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, hsla(0, 0.00%, 0.00%, 1.00) 21%, hsla(0, 100.00%, 99.56%, 0.00));
}

.link-block-2 {
  width: 100%;
  height: 100%;
}

.heading-40 {
  position: absolute;
  top: 38%;
  right: auto;
  bottom: auto;
  color: #ffffff;
  width: 100%;
  line-height: 42px;
  font-size: 37px;
  text-align: center;
}

.heading-40.mobhead {
  line-height: 42px;
}

@media screen and (max-width: 479px) {
  .heading-40.mobhead {
    font-size: 12px;
    line-height: 25px;
  }
}
@media screen and (max-width: 479px) {
  .heading-40 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 479px) {
  .mobhead {
    font-size: 12px;
    line-height: 24px;
  }
}

.paragraph-17 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 13%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;

}


@media screen and (max-width: 479px) {
  .paragraph-17.mob {
    display: none;
  }
}

.div-block-26 {
  position: absolute;
  bottom: 15px;
  display: flex;
  margin-left: 20px;
}

.image-9 {
  padding-right: 10px;
}

.paragraph-18 {
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
}

@media screen and (max-width: 479px) {
  .paragraph-18.mob {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_294af507-2bde-a3fa-5d94-18b332b37168-32b3714c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}