.cart-button {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .amount-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between items as needed */
  }
  
  .amount-style {
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  .button {
    background-color: rgb(199, 199, 199);
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  
  .button:hover {
    background-color: #ccc; /* Adjust hover effect as needed */
  }